//Font face general
@font-face {
  font-family: 'Nexa-Bold';
  src: url('assets/fonts/NexaBold.eot');
  src: url('assets/fonts/NexaBold.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/NexaBold.woff2') format('woff2'),
    url('assets/fonts/NexaBold.woff') format('woff'),
    url('assets/fonts/NexaBold.ttf') format('truetype'),
    url('assets/fonts/NexaBold.svg#NexaBold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nexa-Light';
  src: url('assets/fonts/NexaLight.eot');
  src: url('assets/fonts/NexaLight.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/NexaLight.woff2') format('woff2'),
    url('assets/fonts/NexaLight.woff') format('woff'),
    url('assets/fonts/NexaLight.ttf') format('truetype'),
    url('assets/fonts/NexaLight.svg#NexaLight') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nexa';
  src: url('assets/fonts/NexaRegular.eot');
  src: url('assets/fonts/NexaRegular.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/NexaRegular.woff2') format('woff2'),
    url('assets/fonts/NexaRegular.woff') format('woff'),
    url('assets/fonts/NexaRegular.ttf') format('truetype'),
    url('assets/fonts/NexaRegular.svg#NexaRegular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Nexa;
}

:root {
  --primary-color: #002e48;
  /* Darker BUAP Blue for formal look */
  --secondary-color: #00b5e2;
  /* Light Blue */
  --accent-color: #e3ae24;
  /* Gold/Yellow */
  --text-color: #2c3e50;
  /* Darker gray for better readability */
  --background-color: #f0f2f5;
  /* Modern light gray background */
  --card-background: #ffffff;
  --error-color: #e74c3c;
  /* Softer red */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
  margin-bottom: 1rem;
  font-family: 'Nexa-Bold', sans-serif;
}

p {
  line-height: 1.6;
  margin-bottom: 1rem;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: var(--primary-color);
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.card {
  background-color: var(--card-background);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.invalid-feedback {
  display: block !important;
  width: 100%;
  font-size: 0.75rem;
  color: var(--error-color);
  font-family: Nexa;
  text-align: left;
}