.wrapper {
    width: 100vw;
    height: 90vh;
}

.header-home {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.body-alumnos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.container {
    max-width: 90vw;
}

.title-perfil {
    margin-left: 3rem;
    font-size: 32px;
    text-align: left;
    font-family: Nexa-Bold;
    letter-spacing: 0px;
    color: #231F20;
    text-transform: capitalize;
    opacity: 1;
}

.title-table {
    margin-left: 3rem;
    font-size: 28px;
    text-align: left;
    font-family: Nexa-Bold;
    letter-spacing: 0px;
    color: #231F20;
    text-transform: capitalize;
    opacity: 1;
}

/* Table Styles */
.table-container {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
}

tr.mat-mdc-header-row {
    height: 3rem;
    border-bottom: 1px solid #231F20;
}

tr.mat-mdc-row {
    height: 3rem;
}

/* Striped rows */
tr.mat-mdc-row:nth-child(odd) {
    background-color: #f2f2f2;
    /* Light gray for odd rows */
}

tr.mat-mdc-row:nth-child(even) {
    background-color: #ffffff;
    /* White for even rows */
}

th.mat-mdc-header-cell {
    font-family: Nexa-Bold !important;
    font-size: 18px;
    text-align: left;
    letter-spacing: 0px;
    color: #231F20;
    opacity: 1;
    border-bottom: 1px solid #231F20;
    /* Ensure header border is visible */
}

td.mat-mdc-cell {
    text-align: left;
    font-family: Nexa !important;
    font-size: 15px !important;
    letter-spacing: 0px !important;
    color: #231F20 !important;
    opacity: 1 !important;
    padding-top: 10px;
    /* Adjusted padding */
    padding-bottom: 10px;
}

/* Edit/Delete Icons */
.td-editar i {
    color: #0092B8 !important;
    cursor: pointer !important;
    font-size: 20px !important;
    padding-left: 1.5rem;
}

.td-editar i:hover {
    color: #006179 !important;
    font-size: 25px !important;
    padding-left: 1.5rem;
}

.td-eliminar i {
    color: #E84150 !important;
    cursor: pointer !important;
    font-size: 20px !important;
    padding-left: 1.5rem;
}

.td-eliminar i:hover {
    color: #ce1626 !important;
    font-size: 25px !important;
    padding-left: 1.5rem;
}

/* Paginator */
.mat-mdc-paginator {
    font-family: Nexa !important;
}